body{
background-color:#f8f8f8;
font-family:arial;
}
#header{
    position: fixed;
    width:100%;
    margin-top: -70px;
}
#head1{
    display:  flex;
    padding:5px;
    background-color: white;
    box-shadow: 5px 0 5px #eae5e5;
    padding-top: 10px;
    margin-bottom: 30px;
}
#pic{
    margin-left:150px;
    display: block;
    cursor: pointer;
}
#home{
    padding-top: 15px;
}
#home a{
    margin: 10px;
    margin-left: 30px;
    color: #00ac24;
    font-size:20px;
    cursor: pointer;
    text-decoration: none;
}
#menu{
    padding-top: 15px;
}
#menu a{
    margin: 10px;
    color: #00ac24;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}
#pic1{
    margin-left:700px;
}
#sign{
    margin: 10px;
    color: #00ac24;
    font-size: 7px;
}
#pic1, #sign ,#pic2 ,#pic3{
    cursor: pointer;
}
#about{
font-size:25px;
color:green;
margin-left:200px;
margin-top: 70px;
font-size:19px;
margin-bottom: 20px;
padding-top: 50px;
}
#all{
    box-sizing: border-box;
}
#white{
height:270px;
width:1000px;
background-color:white;
border-radius:9px;
box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.10);
left:15%;
margin-left: 270px;
}
#best{
float:left;
margin-top:35px;
margin-left:20px;
margin-right:40px;
overflow: hidden;
border-radius: 20px;
}
#best img {
    width: 100%;
    height: auto;
    display: block;
}
#text{
margin-top:70px;
}
#story{
font-size:25px;
color:green;
margin-left: 270px;
margin-top: 90px;
font-size:15px;
}
#mission h2{
font-size:20px;
}
#vision h2{
font-size:20px;
margin-top: 20px;
}
#welcome {
margin-top:20px;
margin-left: 270px;
padding-right: 250px;
}
#welcome h2{
font-size:18px;
}
#welcome p{
font-size:14px;
margin-top:10px;
}


body{
background:#f8f8f8;

}

.content{
font-size:14px;
}

#beyond{
margin: 50px auto;
width: 1000px;
}

#beyond li{
list-style: none;
width: 100%;
margin-bottom: 10px;
background: #fff;
margin-top:20px;
padding: 10px;
border-radius: 10px; 
box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);

}

#beyond li label{
padding: 10px;
display:flex;
align-items: center;
justify-content: space-between;
font-size: 18px;
font-weight: 500;
cursor: pointer;
color: black;
}

#beyond li label span{
transform: rotate(90deg);
font-size:15px;
color:#00AC24;

}

#beyond label + input[type="checkbox"]{
display:none;

}

#beyond .content{
padding: 0 10px;
line-height: 26px;
max-height:0;
overflow: hidden;
transition: max-height 0.5s;
}

#beyond label + input[type="checkbox"]:checked + .content{
max-height:400px;
}
ul {
    list-style-type: none;
}

#holder {
    display: flex;
    align-items: center;
    margin-bottom: 0; 
}

#holder img {
    height: 50px;
    width: 50px;
    margin-right: 5px; 
}

#holder p {
    font-size: 12px;
    margin: 0;
}

#back{
    float: right;
    padding-top: 30px;
    padding-left: 10px;
    margin-right: 70px;
    margin-bottom: 50px;
}
#back a{
    text-decoration: none;
    color: #00AC24;    
    font-size: 12px;
}
#footer{
    margin-top: 70px;
    padding-top: 70px;
}
#fpic{
    margin-left:150px;
    display: block;
}
#up{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 60px;
    box-sizing: border-box;
    display: flex;
    color: #00AC24;
}
#coni a{
    text-decoration: none;
    color: #00AC24;
    font-size: 13px;
    cursor: pointer;
}
#cons{
    margin-left:200px;
}
#cons a{
    text-decoration: none;
    color: #00AC24;
    font-size: 13px;
    cursor: pointer;
}
#const{
    margin-left:200px;
}
#const h3{
    color: black;
}
#payb{
    margin-left: none;
}
#web{
    cursor: pointer;
    margin-top: -20px;
    margin-left: -20px;
}
#fb{
    float: left;
    margin-top: -2px;
}
#tt{
    float: left;
    margin-left: -15px;
}
#ig{
    float: left;
    margin-left: -15px;
}
#yt{
    float: left;
    margin-left: -15px;
}
#rights{
    text-align: center;
    background-color: #00AC24;
    padding: 20px;
    color: white;
    font-size: 10px;
    width: 100%;
}
